AWS_ACCESS_KEY_ID="REDACTED"
AWS_SECRET_ACCESS_KEY="REDACTED"
AWS_REGION="REDACTED"
# Needed by ScoutSuite
# https://github.com/nccgroup/ScoutSuite/issues/1396#issuecomment-1170073546
AWS_RETRY_MODE=adaptive